[Unit]
After=network.target

After=wait-for@apiserver.service
Requires=wait-for@apiserver.service

[Service]
ExecStart=/usr/bin/rkt run \
	--net=host \
	--volume etc-kubernetes,kind=host,source=/etc/kubernetes \
	--volume var-run-kubernetes,kind=host,source=/var/run/kubernetes \
	--mount volume=etc-kubernetes,target=/etc/kubernetes \
	--mount volume=var-run-kubernetes,target=/var/run/kubernetes \
	quay.io/coreos/hyperkube:v1.3.0-beta.2_coreos.0 \
	--exec=/hyperkube \
	-- \
	controller-manager \
	--v=3 \
	--service-account-private-key-file=/etc/kubernetes/kube-serviceaccount.key \
	--root-ca-file=/var/run/kubernetes/apiserver.crt \
	--enable-hostpath-provisioner=false \
	--pvclaimbinder-sync-period=15s \
	--cloud-provider= \
	--master=0.0.0.0:8080

[Install]
WantedBy=multi-user.target

