[Unit]
After=network.target

[Service]
Type=notify
ExecStart=/usr/bin/rkt run \
	--net=host \
	--volume var-lib-etcd,kind=host,source=/var/lib/etcd \
	--mount volume=var-lib-etcd,target=/var/lib/etcd \
	quay.io/coreos/etcd:v2.3.7 \
	--exec=/etcd \
	-- \
	--data-dir=/var/lib/etcd

[Install]
WantedBy=multi-user.target
