[Unit]
After=network.target

After=wait-for@apiserver.service
Requires=wait-for@apiserver.service

[Service]
ExecStart=/usr/bin/hyperkube \
	kubelet \
	--v=3 \
	--chaos-chance=0.0 \
	--container-runtime=rkt \
	--rkt-path=/usr/bin/rkt \
	--rkt-stage1-image=coreos.com/rkt/stage1-coreos:1.10.1 \
	--hostname-override=127.0.0.1 \
	--cloud-provider= \
	--address=0.0.0.0 \
	--api-servers=0.0.0.0:8080 \
	--cpu-cfs-quota=false \
	--cluster-dns=10.0.0.10 --cluster-domain=cluster.local \
	--network-plugin-dir=/opt/cni/bin \
	--resolv-conf=/etc/kubernetes/resolv.conf \
	--port=10250

[Install]
WantedBy=multi-user.target
