[Unit]
After=network.target

After=wait-for@apiserver.service
Requires=wait-for@apiserver.service

[Service]
ExecStart=/usr/bin/rkt run \
	--net=host \
	--volume etc-kubernetes,kind=host,source=/etc/kubernetes \
	--volume var-run-kubernetes,kind=host,source=/var/run/kubernetes \
	--mount volume=etc-kubernetes,target=/etc/kubernetes \
	--mount volume=var-run-kubernetes,target=/var/run/kubernetes \
	quay.io/coreos/hyperkube:v1.3.2_coreos.0 \
	--exec=/hyperkube \
	-- \
	scheduler \
	--v=3 \
	--master=http://0.0.0.0:8080

[Install]
WantedBy=multi-user.target

